<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lala</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="login_card">
      <h1>Вітаємо!</h1>
      <form method="post">
        <div class="input_field">
          <input type="text" required />
          <span></span>
          <label>Ваше ім'я</label>
        </div>
        <div class="input_field">
          <input type="password" required />
          <span></span>
          <label>Пароль</label>
        </div>
        <input type="submit" value="Війти" />
      </form>
      <div class="links">
        <div class="password_link">Забули пароль?</div>
        <div class="signup_link">Перший раз тут? <a href="#">Зарееструватись</a></div>
      </div>
    </div>
  </body>
</html>

